.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header__search {
    padding: 10px;
}

.search {
    padding: 17px;
    background-color: var(--black);
    color: var(--white);
    font-size: 24px;
}
